.task-modal {
  .modal-dialog,
  .modal-content {
    height: 100%;
  }

  .modal-dialog {
    position: absolute;
    right: 0;
    width: 20rem;
    margin: 0;
  }
}

.task-view {
  padding: 15px;

  @include tablet() {
    min-height: auto;
  }
}
