.three-dots::after {
  font-size: 16px;
  font-weight: 700;
  color: #2aa198;
  content: "\2807";
}

.btn-outline-none,
.btn-outline-none:focus,
.btn-outline-none:hover,
.btn-outline-none:active,
.btn-outline-none:disabled {
  background: transparent;
  background-color: transparent;
  border: none;
  border-color: transparent;
  outline: none;
  box-shadow: none;
}

.btn-outline-none:hover {
  .three-dots::after {
    color: #d33682;
  }
}

.custom-dropdown {
  padding: 0;
}
