.nav.sidebar-nav {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 4px solid #002b36;
  border-radius: .25rem;
}

.nav-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-item .project-link {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav-item .project-link,
.nav-item .project-link:focus,
.nav-item .project-link:hover,
.nav-item .project-link:active {
  text-decoration: none;
  outline: none;
}

.nav-item:hover {
  .nav-link {
    font-weight: 900;
  }

  .nav-link.disabled {
    font-weight: 400;
  }
}

.nav-pills .nav-item .nav-link {
  border-radius: 0;
}

::-webkit-scrollbar {
  display: none;
}
