.sidebar {
  position: relative;
  min-width: 300px;
  min-height: 80vh;
  padding: 15px;
  margin-right: 15px;

  @include media-l-mobile() {
    min-width: 90vw;
  }

  .nav-item {
    margin: 0.5rem 0;
  }

  .sidebar-btn {
    position: absolute;
    top: 2em;
    right: -1em;
    z-index: 1000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 2em;
    height: 2em;
    :focus {
      outline: none;
    }
  }

  &-collapsed {
    flex-grow: 0;
    min-width: 0;
  }

  .material-icons {
    font-size: 1em;
  }
}
