@import "reset";
@import "App";
@import "components/Footer/Footer";
@import "components/Header/Header";
@import "components/MainView/MainView";
@import "components/ProjectForm/ProjectForm";
@import "components/SideBar/SideBar";
@import "components/TaskList/TaskList";
@import "components/TaskListNav/TaskListNav";
@import "components/TaskView/TaskView";

// Must be in the end
@import "~bootswatch/dist/solar/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/solar/bootswatch";
