@import "./reset.scss";
@import "./App.scss";
@import "./components/Header/Header.scss";
@import "./components/MainView/MainView.scss";
@import "./components/TaskList/TaskList.scss";
@import "./components/TaskListNav/TaskListNav.scss";
@import "./components/TaskView/TaskView.scss";

// Must be in the end
@import "~bootstrap/scss/bootstrap";
