.login-modal {
  .modal-dialog .modal-content .modal-header,
  .modal-dialog .modal-content .modal-footer {
    justify-content: center;
  }

  .block-signup {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .ptb0 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .pt8 {
    padding-top: 8px;
  }

  .btn-signup {
    padding: 8px 12px;
    text-decoration: underline;
    cursor: pointer;
  }

  .btn-signup:focus {
    color: "#007bff";
    outline: none;
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .form-group {
      width: 50%;
    }
  }
}
