.login-modal {
  .modal-dialog .modal-content .modal-header,
  .modal-dialog .modal-content .modal-footer {
    justify-content: center;
  }

  .block-signup,
  .block-login {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .btn-signup,
  .btn-login {
    padding: 8px 12px;
    text-decoration: underline;
    cursor: pointer;
  }

  .btn-signup:focus,
  .btn-login:focus {
    color: #007bff;
    outline: none;
  }

  .btn-signup:hover,
  .btn-login:hover {
    transform: scale(1.1);
  }

  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .form-group {
      width: 50%;
    }
  }
}
